---
---

/* Override theme defaults */
$base-font-family: Spectral;
$brand-color: blue;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
body {
    background-color: antiquewhite;
    font-size: 18px;
}
h1 {
  padding-bottom: 2px;
  color: darkblue;
}

h4 {
  padding-bottom: 8px;
  padding-top: 20px;
  color: darkblue;
  font-weight: 600
}
